/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.vuepress-blog-theme-content {
  font-family inherit!important
}

h1, h2, h3, h4, h5, h6 {
  font-family inherit!important
}

.ui-post-summary {
  font-size: 14px!important;
  color: rgba(0,0,0,.9)!important;
}

.ui-post-date {
  font-size: 14px!important;
  font-weight: 300!important;
  color: rgba(90,90,0,.9)!important;
}

.ui-post-author {
  font-size: 14px!important;
  color: rgba(0,90,90,.9)!important;
}

.post-meta-author {
  font-size: 14px!important;
  color: rgba(0,90,90,.9)!important;
}
.post-meta-date {
  font-size: 14px!important;
  color: rgba(90,90,0,.9)!important;
}

.vuepress-toc {
  background: rgba(200, 256, 200, 0.6)
}

.ui-post-tag a {
  font-size: 15px!important;
  font-weight: 350!important;
  color: rgba(90,0,90,.9)!important;
}

#header {
  background-color: antiquewhite;
}
.mobile-header-bar {
  background-color: antiquewhite!important;
}

.ui-posts {
  padding: 2em
  background: rgba(256, 256, 256, 0.75)
}

body {
  background-repeat: repeat;
  max-width: 100%;
  background-size: contain;
  resize: both;
  overflow-x: hidden;
  overflow-y: scroll;
}